---
import ReactIcon from './icons/React.astro';
import CssIcon from './icons/Css.astro';
import JavaScriptIcon from './icons/JavaScript.astro';

const TAGS = {
  REACT: {
    name: "React JS",
    class: "bg-[#00445a] text-white",
    icon: ReactIcon
  },
  CSS: {
    name: "CSS",
    class: "bg-[#0d3047] text-white",
    icon: CssIcon
  },
  JS: {
    name: "JavaScript",
    class: "bg-[#c4af00] text-black",
    icon: JavaScriptIcon
  }
};

const PROJECTS = [
  {
    title: "React Ecommerce",
    description: "Primer proyecto avanzado hecho con React JS con características básicas de un ecommerce como carrito de compras, filtrado y paginación de productos, visualizacion de producto a detalle; asi como manejo de rutas y manejo de estados con Context API.",
    link: "https://benijs-ecommerce.netlify.app/",
    github: "https://github.com/momiavive/react-ecommerce",
    image: "/projects/ecommerce.png",
    tags: [TAGS.REACT, TAGS.CSS, TAGS.JS]
  }
];
---

{
  PROJECTS.map(({ title, description, tags, image, link }) => (
    <article>
      <a href={link} target="_blank">
        <h3 class="text-2xl font-semibold text-yellow-200 mb-2">{title}</h3>
      </a>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {
          tags.map(tag => (
            <li>
              <span class={`flex items-center gap-x-2 rounded-full text-sm ${tag.class} py-1 px-2`}>
                <tag.icon class="size-4" />{tag.name}
              </span>
            </li>
          ))
        }
      </ul>
      <img 
        class="rounded shadow-2xl shadow-white/10"
        src={image} alt={`Captura de pantalla del proyecto ${image}`} 
      />
    </article>
  ))
}